# Banco de Dados

DB_NAME=nome_do_banco
DB_USER=usuario_do_banco
DB_PASSWORD=sua_senha_aqui
DB_HOST=localhost
DB_PORT=5432

# Django

SECRET_KEY=sua_secret_key_aqui
DEBUG=True

# Hosts permitidos

ALLOWED_HOSTS=127.0.0.1,localhost